<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content class="container">
    <ul>
      <li>
        This page is designed to display news at corresponding locations.
      </li>
      <br />
      <li>
        Filters can be applied to news by clicking <i class="fas fa-search"></i>
        button. The filters are saved and applied by default on reload.
      </li>
      <br />
      <li>
        Default settings can be changed by clicking <i class="fas fa-cog"></i>
        button. The preferences are stored and applied on reload as well.
      </li>
      <br />
      <li>
        For further information or questions, you can contact with <a class="silent-link" href="mailto:hello@newsfrom.news">hello@newsfrom.news</a>.
      </li>
    </ul>
</div>
<div mat-dialog-actions fxLayoutAlign="center">
  <button mat-raised-button mat-dialog-close color="primary">OK</button>
</div>