<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content class="container">
    <ul>
      <li>
        This page is designed to display news at their's corresponding locations.
      </li>
      <br />
      <li>
        You can apply filters to displaying news by clicking <i class="fas fa-search"></i>
        icon. After submitting, filters are stored as cookie and applied as default on reload.
      </li>
      <br />
      <li>
        You can also change default settings about map by clicking <i class="fas fa-cog"></i>
        icon. After submitting, settings are stored and applied on reload as well.
      </li>
      <br />
      <li>
        For further information or questions, you can contact with <a class="silent-link" href="mailto:hello@newsfrom.news">hello@newsfrom.news</a>.
      </li>
    </ul>
</div>
<div mat-dialog-actions fxLayoutAlign="center">
  <button mat-raised-button mat-dialog-close color="primary">OK</button>
</div>