.cluster-window {

  .thumbnail {
    border-radius: 3px 0px 0px 3px;
    max-height: 10vh;
  }

  .header div {
    display: inline-block;
  }

  .category-wrapper {
    overflow-y: auto;
  }

  mat-expansion-panel {
    min-height: fit-content;
    line-height: 1.5;

    mat-expansion-panel-header {
      padding: 0 5px 0 0;

      .mat-expansion-indicator {
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }

    .category-header {
        padding-top: 10px;
        padding-bottom: 10px;
        background-size: cover !important;
        font-size: 1.1em;
    }

    .category-content {
      padding-top: 1vh;
    }

    .text-wrapper {
      margin: 0;
      padding-left: 0.5vw;
    }
  }
}


@media all and (orientation: landscape) {
  .cluster-window {
    width: 50vw;
    max-width: 50vw;
    max-height: 60vh;
    padding: 0.5vw;

    .header {
      font-size: 0.8em;
    }

    .text-wrapper {
      font-size: 1em;
    }
  }
}

@media all and (orientation: portrait) {
  .cluster-window {
    width: 80vw;
    max-width: 80vw;
    max-height: 40vh;
    padding: 0.5vh;
    
    .header {
      font-size: 0.8em;
    }
  }
}