<div class="container" fxLayout="row">
  <div fxFlex="80" fxLayoutAlign="start center">
    <span>
      🍪 We use cookies. By clicking OK, you accept
      <a class="silent-link" href="assets/static/terms.html" target="_blank">Terms &amp; Conditions</a>
      and
      <a class="silent-link" href="assets/static/privacy.html" target="_blank">Privacy Policy</a>.
    </span>
  </div>
  <div fxFlex="20" fxLayoutAlign="end center">
    <button mat-button color="accent" (click)="close()">OK</button>
  </div>
</div>